#cabecalho {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(61, 29, 121);
    gap: 20px;
    text-align: center;
    align-items: center;
    color: white;
    
}



header a {
    color: white;
    text-decoration: none;
}

header ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.cart {
    display: flex;
    justify-content: end;
    padding-right: 1rem;
}

.lista {
    display: flex;
    justify-content: start;
    padding-left: 1rem;
    font-size: 2rem;
}

.cadastrar {
    background-color: rgb(119, 0, 255);
    padding: 0.5rem;
    border-radius: 10px;
}

main{
    width: 100%;
    /* display: flex;
    justify-content: center; */
    background-color: black;
    padding: 2rem;
}

#sectionMain {
    display: flex;
    gap: 2rem;
    width: 95%;
    margin: auto;
    justify-content: center;
    background-color: black;
}

.destaques {
    display: flex;
    background-color: yellow;
    padding: 1rem;
    gap: 1rem;
    width: 75%;
}


.maisVendido {
    /* background-color: red; */
    padding: 1rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 1rem;

    background-color: white;

}

.itemMaisVendido {
    display: flex;
    justify-content: start;
    width: 100%;
}

.produtosMaisVendidos {
    background-color: white;
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    border-radius: 5px;
    padding: 1rem;
    gap: 1rem;
}

.produtosMaisVendidos img {
    width: 70%;
    margin: 0 auto;
}

.linkProduto {
    text-decoration: none;
    color: black;
}

.linkProduto:hover {
    color: rgb(0, 102, 255);
}

.preco {
    display: flex;
    gap: 5px;
}

.precos {
    display: flex;
    flex-direction: column;
}

#tituloProduto {
    margin: 0;
    /* padding-bottom: 20px; */
}

.precoCheio {
    text-decoration: line-through;
    margin: 5px 0;
}

.precoDesconto{
    margin: 0;
    font-size: 1.6rem;
}

.descontoPorcentagem {
    font-size: 13px;
    color: rgb(11, 246, 11);
    display: flex;
    align-items: center;
    margin: 0;

}

.produtoDestaque {
    background-color: white;
    width: 20%;
    display: flex;
    flex-direction: column;
    /* background-color: #e61111; */
    border-radius: 5px;
    padding: 1rem;
    gap: 1rem;
    justify-content: space-between;

}

.produtosDestaque {
    background-color: white;
    width: 70%;
    background-color: #f6f6f6;
    border-radius: 5px;
    padding: 1rem;
  
}

.destaquesFlex{
    display: flex;
    gap: 1rem;
}

.produtosDestaque h1 {
    padding-bottom: 20px;
}

.precos p {
    margin: 0;
}

.verde {
    color: rgb(11, 246, 11);
}

.freteGratis {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
}





