*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100vw;
    height: 10vh;

    background-color: blue;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 20%;
    height: 100%;
}
.logo img {
    width: 65%;
    height: 100%;
}


.titulo {
    width: 30%;
}

.titulo h1{
    font-size: 50px;
    color: white;
}

.barraPesquisa {
    width: 20%;
}

#fundo {
    background-color: yellow;
    width: 90vw;
    height: 90vh;

    border: solid 2px black;
    border-radius: 10px;

    display: flex;
    align-items: center;
}

main {

   
    display: flex;
    justify-content: center;

}

#imgProduto {
    width: 50vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

#imgProduto img {
    width: 80%;
    height: 80%;

    border: solid 3px #ccc;
    border-radius: 10px;
}